* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/*SEÇÃO HERO*/
.hero {
    background-image: url("../img/gta-background.png");
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.button-server a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.button-server .button {
    padding: 20px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid;
    transition: 0.4s;
}

.button-server .button:hover {
    opacity: 0.8;
    border: 1px solid #2fcb41;
    color: #2fcb41;
}

.button-server .button i {
    padding-right: 5px;
}

.logo img {
    transition: 0.4s;
}

.logo img:hover {
    opacity: 0.8;
    cursor: pointer;
}
/*FIM SEÇÃO HERO*/

/*SEÇÃO SOBRE*/
.button-contact a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.button-contact .button {
    padding: 20px;
    color: #212529;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid;
    transition: 0.4s;
}

.button-contact .button:hover {
    opacity: 0.8;
    border: 1px solid #2fcb41;
    color: #2fcb41;
}

.button-contact .button i {
    padding-right: 5px;
}
/*FIM SEÇÃO SOBRE*/

/*SEÇÃO SERVIDORES*/
.image-server i {
    color: #2fcb41;
    font-size: 120px;
}
/*FIM SEÇÃO SERVIDORES*/

/*SEÇÃO REDES SOCIAIS*/
.facebook-icon i {
    color: #4267B2 !important;
}

.youtube-icon i {
    color: #DD2C28 !important;
}

.instagram-icon i {
    color: #C1558B !important;
}

.facebook-icon i, .youtube-icon i, .instagram-icon i {
    font-size: 80px !important;
    transition: 0.4s;
}

.facebook-icon i:hover, .youtube-icon i:hover, .instagram-icon i:hover {
    opacity: 0.8;
}
/*FIM SEÇÃO REDES SOCIAIS*/

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #2fcb41;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #212529;
}
/*FIM SCROLLBAR*/

/*MEDIA QUERIES*/
@media (max-width: 48em) {
    .logo img {
        width: 100%;
    }
}
/*FIM MEDIA QUERIES*/